h1 {
  text-align: center;
  font-family: sans-serif;
}
.pic{
  background: url('p.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 200%;
  min-width: 1024px;
	
  width: 100%;
  height: auto;
	
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
 
.primary{
 position: fixed;
 top: 10px;
}

