h1 {
  text-align: center;
  font-family: sans-serif;
}
.camera{
  background-image: url("c.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  height: 500px;
  width: auto;
 }

